<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="static/assets/css/style.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opioids Data</title>
</head>

<body>



<h1> Opioid Epidemic Visualization Project</h1>

<p>This website was created to present our completed work for Project Two in the Data Analytics and Visualization Coding boot camp at 
The University of Minnesota, College of Continuing Education and Professional Studies.

<p>Since 1999 the rate of death by opioid overdose has risen steadily, with more than 750,000 fatalities in The United States in a 20 period. 
There are three waves of the ongoing Opioid Epidemic. The first wave of this epidemic began as a result of increased prescription for powerful 
and highly addictive drugs like Oxycodone in the 1990s. Deaths by these natural and semi-natural opioids lead the first wave from 2000 to 2010. 
This was followed by a sharp increase in heroin overdoses through 2015. The current wave of the epidemic is driven by increased deaths by 
Fentanyl, which is up to 100 times more potent than Morphine.</p>

<p>Our project visualizes data from the Center from Disease Control detailing opioid deaths and prescription opioid sales per 100,000 in all 50 states. 
In our interactive dashboard users can interact with our dataset and see the trends by state and by year. We also have created an API route so future students and researches can make use of this dataset. Our site is powered by Flask, created using
Python. The rest of the site was built with JavaScript libraries like Leaflet, Mapbox, and Amcharts. We styled our website using CSS and the
Bootstraps library.</p>


    






    <!-- Footer Section -->
<footer>
    <div class="footer">Copyright &copy; Liz Jones, Melissa Keller, & Vallie Tracy 2020</div>
  </footer>


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script type="text/javascript" src="static/assets/js/app.js"></script>

</body>

</html>