<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

        <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Leaflet CSS  -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>

    <!-- Leaflet JavaScript -->
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>

    <!-- AmCharts -->
    <script src="//www.amcharts.com/lib/4/core.js"></script>
    <script src="//www.amcharts.com/lib/4/charts.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>

    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="static/assets/css/style.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Opioids Data</title>
</head>

<body>

  <!-- Navbar Section -->
  <div class="navigation border border-dark">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="index.html">OPIOIDS</a>
      <button class="navbar-toggler border border-white" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">Data</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="deathsData.html">Opioid Deaths Data (Table)</a>
              <a class="dropdown-item" href="salesData.html">Opioid Prescription Sales Data (Table)</a>
              <a class="dropdown-item" href="#">Opioid Deaths Data (JSON)</a>
              <a class="dropdown-item" href="#">Opioid Prescription Sales Data (JSON)</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html">About the Project</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <div class = "container-fluid">
    <div class ="row pb-3">
      <div class ="col-md-8">
        <div id="map"></div>
      </div>
      <div class ="col-md-4">

        <h3>Opioid Deaths and Prescriptions in the United States</h3>
        <p>To explore the map. Select a year.</p>
        <h6>Select Year: <select id ="yrDataset" onchange="optionChanged(this.value)"></select></h6>

   
      </div>
    </div> <!-- end of row -->

    <hr>
    
    <div class = "row ml-5 mr-5 pt-1 pl-2" style="background-color: bisque;">
      <h1>Stacked and Radial Chart:</h1>
      <p>Here is where Liz could write some stuff.  Is there pertinent stuff that would fit here, it's not at the very top of the page.
        Unsure if this would work....Liz could just make some 'technical' mentions.  Such as oxycodone and hydrocodone fall under the natural and 
        semi-synthetic stuff. Nothing too in-depth, this isn't a book report.  It's a data analysis course. The about me page could handle more of
        the epidemic itself, if our group wants that in our project verbiage.</p>
      <p>Here's a quote from the shadac.org website, Liz might find small snippets useful: 'This set of two-page infographics uses estimates from SHADAC’s 
        State Health Compare online data tool to explore the evolving opioid overdose epidemic across all 50 states and the District of Columbia, 
        examining state variation in both the prevalence of opioid deaths and the types of opioids associated with these deaths. Additionally, 
        due to growing concern and evidence that the opioid crisis may be expanding to other non-opioid illicit drugs, we have included data on 
        drug overdose deaths from two types of drugs that are commonly involved in opioid overdoses: cocaine and psychostimulants, 
        such as methamphetamine. The infographics highlight key findings for trends in drug overdose deaths from 2000-2017, 
        show how each state's overdose rates compare to the national average, and provide a high-level comparison of all 50 states' overdose 
        death rates broken down by each of the five drug types.'</p>
      <ul>
        <li> a bullet list item</li>
        <li>another bullet list item</li>
      </ul>
    </div>

    <div class = "row ml-5 mr-5" style="background-color: bisque;">
      <div class = "col-md-5 p-2">
        <p>To explore the stacked area and radial charts, select a state.</p>
        <h6>Select State: <select id ="selDataset"></select></h6>
      </div>
    </div>

    <div class ="row mt-1 mb-5 pt-3 pb-5">
      <div class = "col-md-6">
        <h4 class = "text-center" id = "stackedChartTitle"></h4>
        <div id="chartdiv"></div>
      </div>
      <div class = "col-md-6">
        <h4 class = "text-center" id = "radialChartTitle"></h4>
        <div id="chartdivRadial"></div>
      </div>
    </div>
  </div> <!-- end of container-->
  

  <!-- Footer Section -->
  <footer>
    <div class="footer">Copyright &copy; Liz Jones, Melissa Keller, & Vallie Tracy 2020</div>
  </footer>

    <!-- bootstrap -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>

    <!-- leaflet -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!-- d3 -->
    <script src="https://d3js.org/d3.v5.min.js"></script>

    <!-- state coordinate information for the choropleth outlines -->
    <script type="text/javascript" src="static/assets/js/us-states.js"></script>

    <!-- api key -->
    <script type="text/javascript" src="static/assets/js/config.js"></script>

    <!-- Our Javascript -->
    <script type="text/javascript" src="static/assets/js/app.js"></script>
    
    <!-- State Geography info for drawing map borders -->
    <script type="text/javascript" src="static/assets/js/us-states.js"></script> 
</body>
</html>